.DS_Store
.idea/
/app/webroot/img/vendor_profile_images/*
/app/webroot/img/service_images/*
/app/webroot/img/service_type/*
/app/tmp/*
/app/Config/core.php
/app/Config/database.php
*.log
/nbproject/private/
*.git-ftp-tmp
/app/Config/Custom/database_update.php