/* Stylesheet for Vendor Booking List Page */

div#ui-datepicker-div {
    max-width: 310px;
}

h2.page-title {
    text-transform: uppercase;
    background-color: #F5F5F5;
    padding: 11px;
    font-weight: normal;
    border: 1px solid #ddd;
    font-size: 16pt;
    text-align: left;
}

.container-fluid.member-panel {
    margin-bottom: 0px;
    background-color: #fff;
    margin-top: 30px;
}

.member-vendor-info {
    text-transform: uppercase;
    color: #F7941E;
}

.membor-vendor-links ul li {
    display: block;
    padding: 12px 0px;
    border-bottom: 1px solid #ddd;
}

.membor-vendor-links ul {
    padding: 0;
    margin: 0;
}

.membor-vendor-links ul li:after {
    content: "\f101";
    display: block;
    float: right;
    margin-right: 10px;
    font-size: 13pt;
    margin: 0;
    top: 0px;
    position: relative;
    color: #999999;
    font-family: FontAwesome;
}

.membor-vendor-links li a img {
    margin-right: 16px;
}
h3.dashboard-heading {
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: normal;
    color: #337AB7;
    font-size: 19px!important;
    font-family: "Lato" !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.no-details {
    padding-left: 10px;
}

.right-area .dashboard-form-row .btn {
    margin: 8px 1% 0px !important;
    text-transform: uppercase;
    border: 0px;
    border-radius: 0;
    font-weight: bold;
    padding: 8px 12px 9px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.37);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.16);
}



/* ------- For Mobile --------- */
@media (max-width: 480px) {
    .activity-tags {
        display: none;
    }
    .ch_element.ch_wrapper {
        min-height: 200px;
    }
    .contenthover .short-desc {
        display: none;
    }

    .contenthover .view-description {
        margin: 29% auto;
    }
    .contenthover .view-all-tags {
        margin: 18% auto;
        font-size: 16px;
        text-align: center;
        max-width: 210px;
    }
    .tile-info .activity-rating-wrapper, .tile-info .vendor-rating-wrapper {
        width: 100%;
        clear: both;
        float: none;
        display: block;
    }


    .tile-info .rating {
        float: left;
        margin-left: 20px;
    }

    .activities-listing .tile-info h4 {
        width: 100%;
    }
    .vendor-listing .tile-info h4 {
        width: 100%;
    }
    .filter .btn {
        margin-top: 10px;
    }
}

.left-area {
    display: inline-block;
    padding: 20px;
    float: left;
    background: #F5F5F5;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    font-size: 11pt;
    line-height: 18pt;
    border-right: none;
}

.right-area {
    display: inline-block;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #fff;
    padding: 0;
}
label.namefield {
    width: 48.5%;
    margin-right: 2%;
    float: left;
}
label.namefield2 {
    width: 47%;
    margin-left: 2%;
}

.namefieldbox {
    display: inline-block;
    width: 100%;
}


.vendor-panel .table {
    width: 98%;
    max-width: 100%;
    margin-bottom: 20px;
    margin: 1%;
}

.membor-vendor-links ul li:last-child {
    border: none;
}

.right-area .dashboard-form-row .btn.dropdown-toggle {
    border: 1px solid #F79E34;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
}

.dashboard-form-row input[type=text] {
}

.dashboard-form-row {
    padding: 0px 0 8px;    margin-bottom: 15px;    border-bottom: solid 1px #ddd;    min-height: 50px;
}
.btn-group.bootstrap-select {
    max-width: 150px;
}
.btn.orange {
    background-color: #ff9700;
    color: #fff;
    border: none;
    width: 100%;
    padding: 17px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.16);
}

input.dashboard-buttons.btn.orange {
    float: right;
    max-width: 130px;
    padding: 8px;
    margin: 8px 0!important;
}
table#booking_list th {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
    height: auto;
}

.right-area table {
    margin: 0 1%;
    width: 98%;
}

table#booking_list td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
}

h3.dashboard-heading {}

th {
    border: 1px solid #ccc;
    height: 57px;
    vertical-align: top;
    background-color: #F5F5F5;
    padding: 8px;
}

.dashboard-form-row .dashboard-heading {
    border: none;
}
table#service_reviews th {
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 8px;
    height: auto;
    background-color: #f9f9f9;
}

tr.no-details td {
    padding: 10px;
    border: 1px solid #ddd;
}

.right-area input[type=text] {
    border: 1px solid #F79E34;    padding: 10px 8px 7px;    font-size: 14px;
    text-transform: uppercase;
}

input#ServiceReviewSearchtext {
    width: 210px;
    margin: 8px 1%;
    float: left;
}

form#ServiceReviewReviewsForm .btn.orange {
    float: left;
    border-radius: 0px;
}

table#service_reviews td {
    font-size: 14px;
}
td {
    border: 1px solid #ccc;
}
form#ServiceReviewReviewsForm {
    padding: 15px;
}
.dashboard-form-row input[type=text] {
    border: 1px solid #F79E34;    padding: 10px 12px 7px;    font-size: 14px;    text-transform: uppercase;
    top: 7px;    position: relative;    min-width: 195px;    margin: 0px 0px 0px 3px;    font-weight: normal;
}
form.dashboard-edit-form .row input[type=text], form.dashboard-edit-form .row input[type=password] {
    border: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-left: -1px;

}

a#servicebuttons1 {
    display: inline;
    background-color: #40D753;
    border-radius: 2px;
    margin: 0 5px !important;
    margin-top: 8px !important;
}

a#servicebuttons2 {
    display: inline;
    background-color: grey;
    border-radius: 2px;
    margin: 0 5px !important;
    margin-top: 8px !important;
    padding-top: 8px;

}

a#servicebuttons3 {
    display: inline;
    background-color: #F73535;
    border-radius: 2px;
    margin: 0 5px !important;
    margin-top: 8px !important;
}
h2.page-title {
    text-transform: uppercase;
    background-color: #F5F5F5;
    padding: 11px;    font-weight: normal;
    border: 1px solid #ddd;
    font-size: 16pt;
    margin-bottom: 0;
    font-family: "Arca Majora";
}
a.dashboard-buttons.btn.orange {
    display: inline-block;
    width: auto;
    float: right;
    border-radius: 2px;
    margin: 5px !important;
    background-color: #337AB7;
}
div#service_container {
    margin: 0 !important;
}
div#servicebuttons {
    padding-top: 14px;
}

div#servicebutton_container {
    border: none;
}

pre.cake-error {
    display: none;
}

.with-padding.dashboard-form-row {
    padding: 0px 1% 8px;
}

form#MemberRegistration {
    padding: 0 15px 15px 15px;
}
.labelbox {
    font-family: "Lato";
    font-size: 14px;
    text-transform: uppercase;
}
input.dashboard-buttons {
    color: #fff;
    background-color: #fda424;
}
.editprofinput, .editpassinput, .editemailinput {
    display: block;    width: 100%;    height: 34px;    padding: 6px 12px;    font-size: 14px;    line-height: 1.42857143;    color: #555;    margin: 0;    background-color: #fff;    background-image: none;
    border: 1px solid #ccc !important;    border-radius: 4px;    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.dashboard-form-row.row.editprof {
    border: none !important;
}

.dashboard-form-row.editprof, .dashboard-form-row.editpass, .dashboard-form-row.editemail {
    border: none !important;
}
.dashboard-edit-form input.dashboard-buttons {
    width: 100%;
    margin: 8px 1% 0px 0px !important;
    text-transform: uppercase;
    border: 0px;
    border-radius: 3px;
    font-weight: bold;
    padding: 7px 12px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.37);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.16);
    max-width: 168px;
}
.frame {
    padding: 15px;    max-width: 50%;
}

.member-panel .right-area td {
    padding: 8px;
}