@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-regular-webfont.woff') format('woff'),
    url('../fonts/lato-regular-webfont.ttf') format('truetype'),
    url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-bold-webfont.woff') format('woff'),
    url('../fonts/lato-bold-webfont.ttf') format('truetype'),
    url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-regular-webfont.eot');
    src: url('../fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/merriweather-regular-webfont.woff') format('woff'),
    url('../fonts/merriweather-regular-webfont.ttf') format('truetype'),
    url('../fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow Regular';
    src: url('../fonts/PT_Sans-Narrow-Web-Regular.eot');
    src: url('../fonts/PT_Sans-Narrow-Web-Regular.woff') format('woff'),
    url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype'),
    url('../fonts/PT_Sans-Narrow-Web-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#Open Sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin:0px;
    padding:0px;
    font-family: Merriweather;
    font-size:12px;
    background:none;
}

::selection {
    background:#00B6F0;
    color:#FFFFFF;
}
::-moz-selection {
    background:#00B6F0;
    color:#FFFFFF;
}

a {
    color: #F7941E;
}
a:hover {
    color: #00B6F0;
}

h2 {
    font-family: Lato Bold;
    font-size:38px;
    line-height:normal;
    font-weight: bold;
    color:#00B6F0;
    text-transform:uppercase;
    margin: 0 0 20px 0;
    padding: 0;
    border: 0;
}
h3 {
    font-family: "Lato Regular" !important;
    font-size: 22px;
    line-height: normal;
    font-weight: bold;
    color: #606060;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    border: 0;
}
h6 {
    font-size: 15px;
    line-height: 24px;
    border: 0;
    padding: 0;
    margin: 0 0 5px 0;
    color: #F7941E;
}

table {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    background: none;
    color: #787878;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}
table tr {
    background: #FCFCFC;
}
table tr:nth-child(odd) {
    background: #fcfcfc;
}
table th {
    background: #ccc;
    border: solid 1px #E2E2E2;
    color: #606060;
    padding: 3px 7px;
    text-align: left;
    font-family: OpenSansSemibold;
}
table td {
    border: solid 1px #E2E2E2;
    color: #787878;
    padding: 3px 7px;
    text-align: left;
}
table table {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    background: none;
}
table table tr {
    background: none;
}
table table tr:nth-child(odd) {
    background: none;
}
table table th {
    background: none;
    border: 0;
    padding: 3px 5px;
    font-weight: bold;
    text-align: left;
}
table table td {
    border: 0;
    text-align: left;
}
table img {
    vertical-align: middle;
}
table .align-left {
    text-align: left !important;
}
table .align-center {
    text-align: center !important;
}
table .align-right {
    text-align: right !important;
}
table tr.subtotal {
    background: #E5E5E5;
    color: #787878;
    text-align: right;
    font-weight: bold;
}
table tr.subtotal td {
    background: none;
    color: #787878;
    text-align: right;
    font-weight: bold;
}
table tr.view-all {
    float: none;
    background: none;
    border: 0;
    color: #787878;
    padding: 0;
    margin: 0;
    text-align: right;
    width: 100%;
}
table tr.view-all td {
    background: none;
    border: 0;
    color: #787878;
    padding: 10px 0;
    text-align: right;
    width: 100%;
}
table tr.no-details {
    float: none;
    background: none;
    border: 0;
    color: #787878;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
table tr.no-details td {
    background: none;
    border: 0;
    color: #787878;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.no-details {
    border: 0;
    color: #787878;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.submit-button {
    cursor: pointer;
    float: right;
    font-family: Open Sans;
    font-size: 15px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 5px 12px;
    border: 0;
    box-shadow: none;
    border-radius:4px;
    color: #FFFFFF;
    background: #f6a441;
    background: -moz-linear-gradient(top,  #f6a441 0%, #f7941e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6a441), color-stop(100%,#f7941e));
    background: -webkit-linear-gradient(top,  #f6a441 0%,#f7941e 100%);
    background: -o-linear-gradient(top,  #f6a441 0%,#f7941e 100%);
    background: -ms-linear-gradient(top,  #f6a441 0%,#f7941e 100%);
    background: linear-gradient(to bottom,  #f6a441 0%,#f7941e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a441', endColorstr='#f7941e',GradientType=0 );
}
.submit-button:hover {
    border: 0;
    box-shadow: none;
    color:#ffffff;
    background: #f7941e;
    background: -moz-linear-gradient(top,  #f7941e 0%, #f6a441 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7941e), color-stop(100%,#f6a441));
    background: -webkit-linear-gradient(top,  #f7941e 0%,#f6a441 100%);
    background: -o-linear-gradient(top,  #f7941e 0%,#f6a441 100%);
    background: -ms-linear-gradient(top,  #f7941e 0%,#f6a441 100%);
    background: linear-gradient(to bottom,  #f7941e 0%,#f6a441 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941e', endColorstr='#f6a441',GradientType=0 );
}
