@charset "utf-8";
/* CSS Document */
.more{ background:url(../img/more-bg.jpg) repeat-x; position: relative; z-index:999; margin:17px 0px; padding:8px 96px; border-bottom:1px solid #e6ebee; border-left:1px solid #e6ebee; border-right:1px solid #e6ebee; text-decoration:none;  width:106px; float:left; padding:8px 96px;}
