/* For Medium sized desktop */
@media (max-width: 1200px) {
    .tile-info .vendor-rating-wrapper .rating-label {
        float: right;
    }

    .vendor-listing .tile-info h4 {
        width: 50%;
    }

    .contenthover .view-all-tags {
        font-size: 16px;
    }

}


/* For iPad */
@media (max-width: 1024px) {
    .ch_element.ch_wrapper {
        min-height: 220px!important;
    }
    section#navWrapper {
        background-color: #fff;
        padding-bottom: 20px;
    }

}



/* For Tablets */
@media (max-width: 768px) {
    .ch_element.ch_wrapper {
        min-height: 162px!important;
    }
    section#navWrapper {
        background-color: #fff;
        padding-bottom: 20px;
    }
    .tile-info .vendor-rating-wrapper .rating-label{
        float: right !important;
    }

    .tile-info .activity-rating-wrapper .rating-label {
        float: right!important;
    }

    .activities-listing {
        min-height: 300px;
    }
    .contenthover .view-description, .contenthover .view-all-tags {
        margin-top: 20px;
    }

    .contenthover .short-desc {
        max-height: 129px;
        overflow: hidden;
    }
    .tile-info .vendor-rating-wrapper .rating-label{
        float: right !important;
    }

    .stickyCollapsedFix .navButtonOuter {
        padding-bottom: 8px;
    }

    .tile-info h4 {
        max-width: 50%;
        font-size: 12px;
    }

    .tile-info .activity-rating-wrapper, .tile-info .vendor-rating-wrapper {
        width: 50%;
        font-size: 12px;
    }

    .tile-info .activity-rating-wrapper .rating-label {
        float: right!important;
    }

    .ch_element.ch_wrapper {
        min-height: 160px!important;
    }

    .activities-listing {
        min-height: 200px;
    }

    .btn-group.bootstrap-select {
        margin: 5px;
    }

    .contenthover .view-description, .contenthover .view-all-tags {
        font-size: 12px;

        padding: 20px;
        margin: 20px auto 0px;
    }

    .contenthover .short-desc {
        max-height: 170px;
        overflow: hidden;
    }

    .ch_element.ch_wrapper {
        min-height: 162px!important;
    }
    section#navWrapper {
        background-color: #fff;
        padding-bottom: 20px;
    }
    .tile-info .vendor-rating-wrapper .rating-label{
        float: right !important;
    }
    .h4{
        font-size: 12px !important;
    }
    .rating-label{
        font-size: 12px !important;
    }
    .activity-tags span{
        display: none !important;
    }
    .view-all-tags{
        font-size: 12px;
        padding: 8px;
    }

}

@media (max-width: 720px){
    .tile-info .vendor-rating-wrapper .rating-label{
        float: right !important;
    }

    .activity-tags span{
        display: none !important;
    }
    .view-all-tags{
        font-size: 12px !important;
        padding: 8px !important;
    }
}

/* For Smart Phones */
@media (max-width: 480px) {
    .ch_element.ch_wrapper {
        min-height: 140px!important;
    }
    .activities-listing {
        min-height: 260px;

        width: 100%;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%!important;
        margin-bottom: 10px!important;
    }
    .navButtonOuter {
        padding: 5px;
    }
    .contenthover .short-desc {
        display: block;

        max-height: 170px;
    }
    .beforeHeader {
        line-height: 22px;
    }
    .activity-tags {
        display: none;
    }

    a.view-all-tags {
        margin-top: 0;
        line-height: 22px;
        position: relative;
        top: -40px;
    }
    h5.vendor-name {
        margin-top: 10px;
    }

    .vendor-area.row .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .contenthover .view-description, .contenthover .view-all-tags {
        font-size: 28px;
        line-height:20px;
        padding: 23px;

        max-width: 70%;
        margin: 20px auto;
    }
}
