/* For Tablets */
@media (max-width: 767px) {

}
/* For Smart Phones */
@media (max-width: 479px) {
    .ch_element.ch_wrapper {
        min-height: 170px;
    }
    .activities-listing {
        min-height: 260px;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%!important;
        margin-bottom: 10px!important;
    }
    .navButtonOuter {
        padding: 5px;
    }
}
