.tile-info .activity-rating-wrapper, .tile-info .vendor-rating-wrapper {
    float: right;
    width: 43%;
}
.tile-info .activity-rating-wrapper .rating-label{
    margin-top: 12px;
    display: block;
    float: left;
    font-size: 12pt;
    color: #969696;
}
.tile-info h4 {
    color: #696B6E;
    float: left;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Arca Majora' !important;
    max-width: 55%;
    font-style: normal;
}
.activity-rating-wrapper{
    font-family: 'Crete Round',serif;
    font-style: italic;
    font-weight: 400;
    color: #999
}


.tile img {
    width: 100%;
    height: auto;
}

h4{
    font-family: 'Crete Round', sans-serif;
    font-style: italic;
    color: #ff9700;
    font-size: 19px;
}

.vendor-area.row {
    background-color: #F9F9F9;
    max-width: 1190px;
    margin: AUTO;
}
.img-holder img {
    width: 100%;
    height: auto;
}

h5.vendor-name {
    margin-top: 0;
    font-size: 26px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #606060;
}
.vendorlisting-vendordesc p span {
    font-family: "Lato" !important;
    font-size: 16px !important;
    font-weight: 300!important;
    line-height: 30px;
}

.ch_element.ch_wrapper {
    border: 1px solid #ddd;
}

h2.page-title.edit {
    color: #606060 !important;
    font-family: 'Arca Majora';    letter-spacing: 1px;    text-align: center;
    padding-bottom: 15px;
}
.middle-area.edit {
    background-color: #F9F9F9;
    border-top: 1px solid #ccc;
}

.cont {
    padding: 15px;
}

p {
    font-family: 'Lato' !important;
    font-size: 14px;
    padding: 8px;
}
.cont strong {
    font-family: 'Crete Round', sans-serif;    font-style: italic;    color: #ff9700;    font-size: 19px; font-style: normal;
}

div.cont u {
    display: block;
    height: auto;
    padding-bottom: 8px;
    text-decoration: none;
}
div#slots_form h3 {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 4px;
}

.check {
    font-family: 'Lato';
    font-size: 12px;
}

div#slots_form {
    padding: 10px;
    background-color: #f9f9f9;
}
.theiaStickySidebar .bootstrap-select {
    width: 100% !important;
}

.search-page .row{
    margin:0;

}
.activities {
    background-color: rgb(249, 249, 249);
    height: 200px;
    padding-top: 15px;
}
h2.activity-title {
    font-family: "Lato";
}

article.activity-description {
    padding-top: 5px;
}

div#slots_form .check {
    background-color: rgb(255, 255, 255);
    margin: 5px 0px;
    padding: 3px 7px;
    border-radius: 4px;
}

div#slots_form .check input[type=checkbox] {
    margin-right: 8px;
}

div#slots_form .dates {
    margin: 12px 0px;
}