.t-img {
    width: 65px; height: 65px; float: left; margin: 5px 20px 5px 5px; border-radius: 50% 50% 50% 50%;
    overflow: hidden; box-shadow: 0 0 4px #999; 
}

.t-img:hover {
    box-shadow: 0 0 6px #999;  
}

.t-name {
    float:right; font-family:'OpenSansSemibold', Arial, sans-serif; font-size:14px; color:#FF4121; line-height:18px;
    font-style: italic;  text-align: right; padding-right:3px;
}

.t-shadow:hover .t-name {
    color: #fff;
}

.t-name small {
    font-style: normal;
}

.t-shadow {
   margin: 25px 0 20px 2px;
   border:1px solid #EEE\9; *border: 1px solid #EEE; _border: 1px solid #EEE;
    background-color: #fff;   
    -moz-box-shadow:1px 1px 3px 0 #BBB;
    -webkit-box-shadow: 1px 1px 3px 0 #BBB;
    box-shadow: 1px 1px 3px 0 #BBB;    
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#BBBBBB')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#BBBBBB');
     
}

.t-shadow:hover {
    background-color:#FF4121; border:1px solid #FF4121\9; *border: 1px solid #FF4121; _border: 1px solid #FF4121;
    -moz-box-shadow:1px 1px 5px 0 #999999;
}

.t-shadow:hover a {
    color: #fff;
}

.t-shadow:hover a:hover {
    color: #ccc;
}

.t-shadow p {
    margin-top: 0px; margin-bottom: 10px; 
}

.t-shadow:hover P {
    color: #fff;
}

.testimonial-1 {
    width: 186px; padding: 20px 12px 25px 12px; height: 205px; overflow: hidden; float: left;
}

.testimonial-2 {
    width:234px; padding: 20px 12px 25px 12px; height: 205px; overflow: hidden; float: left; margin-left: 25px;
    *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9;
}

.testimonial-3 {
    width:436px; padding: 20px 12px 10px 12px; height: 85px; overflow: hidden; float: left; margin-left: 25px;
    *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9;
}

.testimonial-4 {
    width:436px; padding: 20px 12px 10px 12px; height: 85px; overflow: hidden; float: left; margin-left: 25px;
    margin-top: 0px; *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9;
}

.testimonial-5 {
    width:280px; padding: 20px 12px 25px 12px; height: 177px; overflow: hidden; float: left; margin-top: 15px;
}

.testimonial-6 {
    width:380px; padding: 20px 12px 25px 12px; height: 177px; overflow: hidden; float: left; margin-left: 25px;
    margin-top: 15px;  *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9; 
}

.testimonial-7 {
    width:194px; padding: 20px 12px 25px 12px; height: 437px; overflow: hidden; float:right; margin-right: 4px;
    margin-top: 15px;
}

.testimonial-8 {
    width:708px; padding: 20px 12px 25px 12px; height: 180px; overflow: hidden; float: left; margin-top: 15px;
    *height: 178px; _height: 178px; height: 178px\9;
}

.testimonial-9 {
    width:232px; padding: 20px 12px 25px 12px; height: 158px; overflow: hidden; float: left; margin-top: 15px;
}

.testimonial-10 {
    width:299px; padding: 20px 12px 25px 12px; height: 158px; overflow: hidden; float: left; margin-left: 25px; margin-top: 15px;
    *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9;
}

.testimonial-11 {
    width:323px; padding: 20px 12px 25px 12px; height: 158px; overflow: hidden; float: left; margin-left: 25px; margin-top: 15px;
    *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9;
}

.testimonial-12 {
    width:573px; padding: 20px 12px 25px 12px; height: 169px; overflow: hidden; float: left; margin-top: 15px;
}

.testimonial-13 {
    width:332px; padding: 20px 12px 25px 12px; height: 169px; overflow: hidden; float: left; margin-left: 25px; margin-top: 15px;
    *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9;
}

.testimonial-14 {
    width:332px; padding: 20px 12px 25px 12px; height: 122px; overflow: hidden; float: left; margin-top: 15px;
}

.testimonial-15 {
    width:347px; padding: 20px 12px 25px 12px; height: 122px;  overflow: hidden; float: left; margin-left: 25px; margin-top: 15px;
    *margin-left: 22px; _margin-left: 22px; margin-left: 22px\9;
}